.clients__list {
  display: grid;
  grid-template-columns: repeat(5, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  justify-content: center;
  align-items: center;
  gap: 50px 70px;
  margin: 40px 0;
}
