.clients__list {
  display: grid;
  grid-template-columns: repeat(5, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  justify-content: center;
  align-items: center;
  gap: 50px 70px;
  margin: 40px 0;

  @include media(767px) {
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    gap: 30px 30px;
  }
}
