.contacts__wrapper {
  max-width: 1200px;
  width: 100%;
  @include margins(0 auto, 80px 0);

  @include media(1279px) {
    padding: 60px 28px;
    box-sizing: border-box;
    max-width: 936px;
  }
}
