.popup-callback__form {
  min-width: 340px;
  margin: 20px auto;
  background-color: rgba(46, 56, 66, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
