.popup-callback__inner {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  position: relative;
  background-color: rgba(46, 56, 66, 1);
  padding: 40px;
  border-radius: 10px;
}
