@font-face {
  font-family: "Montserrat";
  src:  url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Monsterrat";
  src:  url("../fonts/montserrat/Montserrat-ExtraLight.woff2") format("woff2"),
        url("../fonts/montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src:  url("../fonts/montserrat/Montserrat-Light.woff2") format("woff2"),
        url("../fonts/montserrat/Montserrat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src:  url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src:  url("../fonts/montserrat/Montserrat-Black.woff2") format("woff2"),
        url("../fonts/montserrat/Montserrat-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
