.contacts__inner {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: minmax(min-content, max-content);
  gap: 0 80px;
  justify-content: space-between;
  background-color: rgba(46, 56, 66, .8);

  @include media(1023px) {
    gap: 0 40px;
  }

  @include media(767px) {
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
  }
}
