.top-screen {
  max-width: 1200px;
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include media(1279px) {
    max-width: 900px;
  }

  @include media(767px) {
    height: 100%;
  }
}

@media (max-height: 650px) {
  .top-screen {
    height: 100%;
  }
}
