.video__author {
  margin-top: auto;
  position: relative;
  max-width: 400px;

  &:after {
    content: "";
    display: block;
    height: 2px;
    background: #D7D4D4;
    max-width: 232px;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 0;
  }
}
