.menu__phone {
  text-decoration: none;
  font-weight: 600;
  opacity: .8;
  color: var(--title-color);
  transition: .2s;
  &:hover {
    color: #e6b447;
  }

  @include media(1279px) {
    @include font(600, 14px, 14px, #151515);
    min-width: 140px;
  }

  @include media(1023px) {
    @include font(600, 16px, 16px, #151515);
  }

  @include media(767px) {
    display: none;
  }
}
