.product-card__price {
  @include font(700, 18px, 20px, #e6b447);
  margin: 15px 0;

  @include media(1279px) {
    @include font(700, 16px, 16px, #e6b447);
    margin: 10px 0;
  }

  @include media(1023px) {
    @include font(700, 16px, 16px, #e6b447);
    margin: 10px 0;
  }

  @include media(767px) {
    @include font(700, 18px, 18px, #e6b447);
    margin: 14px 0;
  }
}
