.header {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include backgroundImage("../images/bg-dots.jpg", repeat, center, cover);

  @include media(1023px) {
    min-height: 100%;
    padding: 0 28px;
  }
}
